[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pandas = "*"
numpy = "*"
sklearn = "*"
keras = "*"
matplotlib = "*"
ipykernel = "*"
imblearn = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.8"
